$darkThemeColor: #f44336;
$lightThemeColor: #ff6f00;

.bar-dark {
  width: 100px;
  .bar-large {
    width: 100%;
    height: 10px;
    background: $darkThemeColor;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  .bar-small {
    width: 60%;
    height: 10px;
    border-radius: 2px;
    background: $darkThemeColor;
  }
}

.bar-light {
  width: 100px;
  .bar-large {
    width: 100%;
    height: 10px;
    background: $lightThemeColor;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  .bar-small {
    width: 60%;
    height: 10px;
    border-radius: 2px;
    background: $lightThemeColor;
  }
}
