$darkThemeColor: #f44336;
$lightThemeColor: #ff6f00;

.contact-contianer {
  padding-top: 50px;
  min-width: 300px;
  .para {
    color: darken(white, 30%);
  }
}

.info-div {
  text-align: center;
  h2 {
    margin-top: 15px;
  }
}

.icon {
  font-size: 36px;
}
