<mat-nav-list>
    <div class="profile-card">
        <div class="floatIcon">
            <div class="content">
                AB
            </div>
        </div>
        <div class="header">
            <h1 class="name">Amith B</h1>
            <h4 class="email">{{data.info.email}}</h4>
        </div>
    </div>

    <mat-divider></mat-divider>
    
    <mat-list-item routerLink="/home">
        <mat-icon matListIcon>home</mat-icon>
        <h4 matLine>Home</h4>
    </mat-list-item>
    <mat-list-item routerLink="/about">
        <mat-icon matListIcon>person</mat-icon>
        <h4 matLine>About</h4>
    </mat-list-item>
    <mat-list-item routerLink="/portfolio">
        <mat-icon matListIcon>business_center</mat-icon>
        <h4 matLine>Portfolio</h4>
    </mat-list-item>
    <mat-list-item routerLink="/contact">
        <mat-icon matListIcon>contact_phone</mat-icon>
        <h4 matLine>Contact</h4>
    </mat-list-item>

    <mat-divider></mat-divider>

    <br>

    <div fxLayout="column" *ngIf="showVisitCard">
        <mat-card>
            <div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        Total Visits
                    </div>
                    <div>
                        {{total}}
                    </div>
                </div>
                
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <br>
            </div>

            <div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        New Visits
                    </div>
                    <div>
                        {{visit.newvisit}}
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{newVisitPercentage}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
            </div>

            <div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        Return Visits
                    </div>
                    <div>
                        {{visit.revisit}}
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-blue" role="progressbar" style="width: {{reVisitPercentage}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
            </div>
        </mat-card>
        
    </div>
    
</mat-nav-list>