$darkThemeColor: #f44336;
$lightThemeColor: #ff6f00;

.portfolio-contianer {
  padding-top: 50px;
  min-width: 300px;
  .para {
    color: darken(white, 30%);
  }
}

.example-card {
  width: 270px;
  margin: 10px;
  p {
    height: 100px;
    overflow-y: auto;
  }
  img {
    height: 270px;
    width: 270px;
    object-fit: cover;
  }
}
