$darkThemeColor: #f44336;
$lightThemeColor: #ff6f00;
$paraDarkThemeColor: darken(white, 20%);
$paraLightThemeColor: darken(white, 60%);

.about-contianer {
  padding-top: 10px;
  min-width: 300px;
  .para {
    color: $paraLightThemeColor;
  }
  .para-dark {
    color: $paraDarkThemeColor;
  }
}

.about-contianer-info {
  span {
    color: darken(white, 50%);
  }
  .info-list-item {
    padding: 0 10px;
  }
}

.lang-card,
.education,
.experience {
  width: 100%;
  padding: 10px;
}

.mat-vertical-stepper-content {
  visibility: visible !important;
  height: 100% !important;
  pointer-events: none !important;
}

.education-header,
.experience-designation,
.education-header-dark,
.experience-designation-dark {
  font-weight: bold;
}

.education-description {
  // line-height: 0px;
  font-size: 17px;
  color: $paraLightThemeColor;
}

.education-description-dark {
  font-size: 17px;
  color: $paraDarkThemeColor;
}

.experience-description,
.education-percentage {
  // line-height: 30px;
  font-size: 17px;
  color: $paraLightThemeColor;
}

.experience-description-dark,
.education-percentage-dark {
  // line-height: 30px;
  font-size: 17px;
  color: $paraDarkThemeColor;
}

.experience {
  ul {
    margin-left: 10px;
    padding-left: 10px;
  }
}
