<app-header (sideBarEventTrigger)="toggleSideBar()">
</app-header>


<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="sidebarToggle">
    <app-sidenav (click)="mobileDevice && toggleSideBar()"></app-sidenav>
  </mat-drawer>
  
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
  
  <mat-sidenav opened mode="side" position="end">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
</mat-drawer-container>


<app-footer></app-footer>
