$profileSize: 200px;

img {
  height: $profileSize;
  height: $profileSize;
  min-width: $profileSize;
  object-fit: cover;
  border-radius: 50%;
  border: 0.8em solid white;
  //   box-shadow: 5px 5px 10px black;
}

h1 {
  padding: 0.5em;
  font-weight: bold;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 260px;
}
h2 {
  line-height: 0px;
  min-width: 200px;
}

.main {
  text-align: center;
}
