$darkThemeBackground: #e91e6296;
$lightThemeBackground: #ffb30098;

.container-background {
  width: 100%;
  box-shadow: 0px 0px 0px 150px $lightThemeBackground;
  &-dark {
    box-shadow: 0px 0px 0px 150px $darkThemeBackground;
  }
}

.darkshade {
  width: 100%;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.493);
}
