<footer>
    <mat-toolbar color="primary">
        <!-- <mat-icon>facebook</mat-icon> -->
        <!-- <img src="../../../../assets/facebook.svg" alt="facebook"/>
        <img src="../../../../assets/linkedin.svg" alt="linkedin"/>
        <img src="../../../../assets/github.svg" alt="github"/> -->
        <a href="{{facebook}}" target="_blank" style="text-decoration: none;color: inherit;">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
          
        <a href="{{linkedin}}" target="_blank" style="text-decoration: none;color: inherit;">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>

        <a href="{{github}}" target="_blank" style="text-decoration: none;color: inherit;">
            <i class="fa fa-github-square" aria-hidden="true"></i>
        </a>
    </mat-toolbar>
</footer>