<mat-toolbar color="primary">
    <button (click)="sideBarEvent($event)" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      {{toolbarHeading}}
    </span>
    <span class="example-spacer"></span>
    
    <button mat-button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>settings</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <mat-slide-toggle [checked]="true" (change)="handleChange()" color="primary">{{dark?'Dark Mode':'Light Mode'}}</mat-slide-toggle>
    </mat-menu>

  </mat-toolbar>